<!DOCTYPE html>
<html lang="en-us">
  <head>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../assets/css/style.css" />
  </head>

  <body>
    <div class="header">
      <div class="heading">
        <h1>Hello from අක්ෂර</h1>
      </div>
      <div class="header-image">
        <img src="../assets/logo.png" />
      </div>
      <div class="footer">
        Developed with ❤️ by <a href="https://foss.lk">foss.lk</a>
      </div>
    </div>
  </body>
</html>
